/* Write your CSS code here */
.nav-header {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 700;
}

.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 34px;
  }
}
.Wave-image {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}
.wave-image-container {
  display: flex;
  align-items: center;
}
